@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
    .card-video
        .card-title
            font-size: 13px
            line-height: 16px
            height: 60px
        .image
            height: 120px
            img
                height: 120px
    .j-a
        display: none
    .page--contest-single
        .card-title
            margin-top: 15px
        h3
            font-size: 18px
        iframe
            height: 200px
            width: 100%
        p
            br
                display: none
    .gallery
        .gallery-thumbs
            .swiper-slide
                width: 30% !important
                img
                    height: 100%
                    object-fit: cover
    .gallery-top
        .content
            padding: 15px !important
            h3
                font-size: 14px !important
            p
                font-size: 10px !important
                margin-bottom: 0 !important
            .line
                height: 4px !important
                margin-bottom: 10px !important
                width: 100px !important
    .button-outline
        font-size: 12px
        padding: 10px 30px !important
        margin: 10px auto !important
    .w-250px
        width: 100%
    .news-list
        .card
            h3, p
                br
                    display: none !important
    .section-intro
        .col-md-4
            margin-bottom: 20px
            br
                display: none
    header
        padding: 40px 0 !important
        img
            width: 75%
    .title
        margin-bottom: 15px !important
        font-size: 20px
    .section-partners
        .partners-list
            padding: 0 15px
            img
                margin: 15px auto
                height: 50px
    footer
        .container
            margin: 0
        .socials
            height: auto !important
            .fa
                margin-left: 5px
                margin-right: 5px
                margin-bottom: 10px !important
        img
            width: 50%
            display: block
            margin-left: 30px
        .footer-menu
            justify-content: center !important
            flex-wrap: wrap
            .nav-link
                margin: 0
                font-size: 13px
                padding: 0 10px 10px
    nav
        .nav-link
            font-size: 16px
            text-align: center
            margin: 0 auto
        .navbar-nav
            margin: 15px 0
            border-top: 1px solid #F2F2F2
            border-bottom: 1px solid #F2F2F2
    .bottom-video
        height: 200px
    .page--behind
        .gallery-template
            display: block !important
            img
                width: 100% !important
            .content
                width: 100% !important
    .page--contest
        .card
            img
                height: 170px
            p
                font-size: 13px
                margin-top: 5px
                margin-bottom: 0
    .page--face
        .section-face
            .card
                width: 47%
                p
                    margin-top: 5px
                    margin-bottom: 0
                .image-title--face
                    bottom: 20px
                    font-size: 18px
    .face-intro
        text-align: center
        img
            display: block
            width: 50% !important
            margin: auto
    .page--gallery
        .swiper-slide-container
            display: block !important
            img
                width: 100% !important
            .content
                width: 100% !important
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
