@import "vars"
@import "fonts"
@import "libs"

body
    font-family: 'Roboto', sans-serif

.text-dark
    color: $dark
.text-red
    color: $red

.card-title
    font-weight: 900
    font-size: 18px
    line-height: 21px
    margin: 0
    color: $dark

.ph-13
    color: $dark
    font-size: 13px
    line-height: 15px

.title
    font-weight: bold
    font-size: 24px
    line-height: 28px
    color: $dark

.w-250px
    width: 250px

.w-45
    width: 49%

.news-list
    display: flex
    align-items: start
    justify-content: space-between
    flex-wrap: wrap

.button-outline
    font-size: 16px
    line-height: 19px
    background: transparent
    color: $dark
    border: 1px solid $dark
    padding: 10px 60px

.card
    border: 0
    color: $dark
    .date
        font-size: 12px
        line-height: 14px
        margin-top: 9px
        margin-bottom: 7px
        display: block
    img
        width: 100%
        height: 140px
        object-fit: cover
    p
        font-size: 14px
        margin-top: 6px
        line-height: 16px
    &-video
        .image
            position: relative
            margin-bottom: 12px
            img
                height: 220px
                object-fit: cover
            &::after
                left: 0
                top: 0
                width: 100%
                height: 100%
                content: ''
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%)
                z-index: 1
                position: absolute
        .content
            display: flex
            align-items: center
            justify-content: start
            .card-title
                font-weight: 500
                margin: 0
            .fa-play
                margin-right: 10px
                color: $red
nav
    padding-top: 25px !important
    padding-bottom: 25px !important
    .nav-link
        font-size: 18px
        color: $dark
        margin-left: 20px
        font-weight: bold
    .fa
        color: $red
        margin-left: 10px
        font-size: 30px
    .languages
        .lang, span
            text-transform: uppercase
            font-weight: 500
            color: $red
            font-size: 13px

.page
    &--main
        header
            background-image: url("../img/home.header.bg.svg")
            background-position: center
            background-size: cover
            padding: 100px 0
    .card
        margin-bottom: 20px


.gallery
    .swiper-slide-container
        height: 100%
    .gallery-top
        img
            height: 100%
            object-fit: cover
        .swiper-slide-container
            position: relative
            &::after
                position: absolute
                content: ''
                left: 0
                bottom: 0
                width: 100%
                height: 100%
                z-index: 1
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, #000000 100%)
            .content
                z-index: 2
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                padding: 25px 20px
                .line
                    background-color: $red
                    width: 150px
                    height: 7px
                    margin-bottom: 15px
                h3
                    font-size: 20px
                    line-height: 28px
                    color: white
                    font-weight: bold
                    margin-top: 8px
                p
                    color: white
                    font-size: 16px
    .gallery-thumbs
        height: 20%
        box-sizing: border-box
        padding: 10px 0
        .swiper-slide
            width: 20%
            height: 100%
            border: 4px solid transparent
        .swiper-slide-active
            border: 4px solid $red
        img
            width: 100%
            height: 100px
            object-fit: cover

.banner-right-top
    object-fit: cover

.page--gallery
    .swiper-slide-container
        display: flex !important
        justify-content: space-between
        align-items: start
        border: 1px solid #F2F2F2
        &::after
            display: none !important
    .gallery-top, .gallery-template
        .content
            position: relative !important
            width: 39% !important
            padding: 20px !important
        img
            width: 60% !important
        h3
            color: $dark !important
            font-size: 18px !important
            line-height: 21px !important
        p
            color: $dark !important
            font-size: 14px

.page--behind
    .gallery-template
        display: flex !important
        justify-content: space-between
        align-items: start
        border: 1px solid #F2F2F2
        &::after
            display: none !important
        .content
            position: relative !important
            width: 39% !important
            padding: 20px !important
        img
            width: 60% !important
        h3
            color: $dark !important
            font-size: 18px !important
            line-height: 21px !important
        p
            color: $dark !important
            font-size: 14px

.video-list
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    width: 100%

.section-partners
    .container
        padding: 26px 0
    .title
        color: $red
        position: relative
        padding-top: 18px
        margin-bottom: 40px
        display: inline-block
        &::after
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 100%
            height: 6px
            background-color: $red
    .partners-list
        display: inline-flex
        justify-content: space-between
        flex-wrap: wrap
        padding: 0 10%
        img
            margin: 0 15px 10px

footer
    .container
        padding: 25px 5%
        background-color: $red
        margin-bottom: 30px
    p
        font-size: 13px
    .contact
        a
            font-size: 14px
            color: white
            margin: 0
    .footer-menu
        .nav-link
            color: white
            font-size: 18px
            line-height: 21px
            margin-right: 10px
            font-weight: bold
    .fa
        color: $blue
        font-size: 30px
        &:not(:last-child)
            margin-bottom: 15px


//maha
.contest
    p
        font-size: 18px
        margin-top: 13px
.image-title
    position: absolute
    bottom: 0
    right: 30px
    color: white
    &--face
        left: 10px
        color: white
        bottom: 50px
        font-size: 19px
.h-250
    height: 250px
.section-face
    p
        font-size: 15px
    .card
        width: 22%

@import "media" // Always at the end
